@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html,body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;
}
navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.logo img{
    width: 145px;
    height: 35px;
    cursor: pointer;
}
.center-nav{
    display: flex;
}
.search{
    display: flex;
}
.search input{
    min-width: 500px;
    padding: 12px 20px;
    border: 0.5px solid gray;
    font-size: medium;
}
/* .search input:hover,
.search input .active{
    min-width: 500px;
    padding: 12px 20px;
    border: 0.5px solid blue;
    font-size: medium;
} */
.seach button{
    border: navy;
    width: 100px;
    height: 100px;
    
}
.mic{
    padding: 10px;
    border-radius: 50%;
    background:  #fff;
    display: grid;
    place-items: center;
    margin-left: 10px;
}
.mic:hover{
    padding: 10px;
    border-radius: 50%;
    background:  rgb(209, 208, 208);
    display: grid;
    place-items: center;
    margin-left: 10px;
}
.mic img{
    width: 24px;
    cursor: pointer;
}
.side-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    cursor: pointer;
}
.side-nav .myprofile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.tags{
    display: flex;
    padding: 10px 20px;
    gap: 5px;
    border-top: 1px solid rgb(217, 214, 214);
}
.tag{
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid rgb(22, 22, 22);
    cursor: pointer;
}
.dark{
    background: black;
    color: white;
}
.light{
    background: white;
    color: black;
}
.light:hover{
    background: rgb(225, 224, 224);
    color: black;
}

/* Aside Menu Home Shorts section */
.aside{
    display: flex;
}
.bars{
    display: flex;
    padding: 3px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.container{
    display: flex;
}

.bar,.shorts,.subscription,.library{
    width: 30px;
    height: 30px;
}
.bars img{
    cursor: pointer;
    margin-top: 8px;
}
.main-content{
    width: 100%;
}
/* photo and ads are here */
main{
    min-height: 100vh;
    margin: 10px;
    background: rgb(221, 218, 218);
}
.card .img{
    width: 320px;
    height: 200px;
    border-radius: 15px;
    cursor: pointer;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
.card .img:hover{
    width: 330px;
    height: 210px;
    border-radius: 15px;
    cursor: pointer;
}
.card .live {
    width: 40px;
    height: 25px;
    border: none;
}
.setLogo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.5px solid black;
    cursor: pointer;
}
.setLogo{
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1vh));
    margin: 20px;
    margin-bottom: 0;
    gap: 22px;
}
.card{
    padding: 10px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}
.card-content{
    padding-top: 10px;
    display: flex;
    gap: 5px;
}
.card h3{
    font-size: 15px;
}
.content{
    display: flex;
    flex-direction: column;
}
.channel-name{
    font-size: 15px;
    font-weight: bold;
}
.content-status{
    display: flex;
    font-size: 14px;
    gap: 10px;
}
.dots img{
    width: 30px;
    height: 30px;  
}